@using Microsoft.AspNetCore.Identity
@using TMSMVC.Data
@model IEnumerable<TMSMVC.Models.ApplicationUser>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "User";
}

<h1>User</h1>

<p>
    <a class="" asp-area="Identity" asp-page="/Account/Register">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.AdminID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Metadata.IsActive)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                   @*  <td>
                        @Html.DisplayFor(modelItem => item.AdminID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Metadata.IsActive)
                    </td> *@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
